* {
    /* border: 1px solid red; */
    font-family: Roboto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 120px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(218, 64, 218);
}

section {
    display: block;
}


.landing-page-area-one {
    text-align: center;
    padding: 5px;
    margin: 3px;
}

.showfeats {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.0em;
    display: flex;
}

.image-container-features {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: flex-start;
    margin-bottom: -200px;
}

.feature-info{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 400px;
    justify-content: flex-end;
}

.read-button{
    background-color: rgb(243, 224, 81);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    outline: 0.5px black;
    outline-style: solid;
    width: 50%;
    height: 30px;
}

#read-btn{
    background-color: rgb(243, 224, 81);
    border: none;
    margin: none;
    width: 100%;
    color: white;
}

.date-header{
    background-color: rgb(188, 188, 183);
    border: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 25px;
}

footer {
    margin-bottom: 0px;
}

.main-tile-dimension{
    margin: 50px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 2%;
}

.mapimg {
    width: 250px
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
    font-size: 0.8em;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
    font-size: 0.8em;
}

.footsocial {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
    font-size: 0.8em;
}

.foothead {
    font-size: 1.8em;
}

.tiny {
    margin: 3px;
}